<!DOCTYPE html>
<html lang="en">
<head>
     <title>Items Ordered</title>
</head>

<body>
<div class="navbar"> <!-- navbar -->
    <a href="/">Customers</a>
    <a href="/orders">Orders</a> 
    <a href="/employees">Employees</a>
    <a href="/menuitems">Menu</a>
    <a href="/recipes">Recipes</a>
    <a href="/inventoryitems">Inventory Items</a>
    <a class="active" href="/items_ordered">Items on Orders</a>
    <a href="/order_employees">Employees on Orders</a>
</div>

</body>
</html>